{% load static %}
{% load chunks %}

<div class="small-container">
    <div class="row">
        <h2 class="title">Featured Products</h2>
    </div>

    {% with products|chunks:4 as product_chunks_list %}
        {% for product_chunks in product_chunks_list %}
            <div class="row">
                {% for product in product_chunks %}
                <div class="col-4">
                    <a href="{% url 'product_detail' %}"><img src="{{ product.image.url }}"></a>
                    <h4>{{ product.title }}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endwith %}
</div>

<div class="page-btn">
    {% if products.has_previous %}
    <a href="?page={{ products.previous_page_number }}"><span><<</span></a>
    {% endif %}
    
    {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <a href="?page={{ i }}" class="active"><span>{{ i }}</span></a>
        {% else %}
            <a href="?page={{ i }}"><span>{{ i }}</span></a>
        {% endif %}
    {% endfor %}
    
    {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}"><span>>></span></a>
    {% endif %}
</div>
